{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 100,
  "endOfLine": "auto",
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.mdx"],
      "options": {
        "trailingComma": "none"
      }
    }
  ],
  "singleQuote": true
}
